{% extends 'base.html' %}
{% block title %}
A ToDo app by Foroutan
{% endblock title %}

{% block content %}
    <header>ToDo App</header>
    <div class="auth-links">
    {% if user.is_authenticated %}
        {{ user }} / <a href="/logout">Log Out</a>
    {% else %}
        <a href="login.html">Log in</a>
        /
        <a href="signup.html">Sign up</a>
    {% endif %}
    </div>
    <div class="inputField">
        <form method="POST">
            {% comment %} <input type="text" placeholder="Add your new todo"> {% endcomment %}
            {% csrf_token %}
            {{ form.text }}
            <button><i class="fas fa-plus"></i></button>
        </form>
    </div>
    <ul class="todoList">
        {% for task in tasks %}
            <li>{{ task.text }}</li>
        {% endfor %}
    </ul>
    <div class="list-footer">
        <span>You have <span class="pendingTasks"></span> pending tasks</span>
        <button>Clear All</button>
    </div>
{% comment %} 
    <script>
        console.log("{{ tasks }}");
        console.log("{{ request.user }}");
    </script>
     {% endcomment %}
{% endblock content %}