{% extends 'base.html' %}
{% block title %}
A ToDo app by Foroutan
{% endblock title %}

{% block content %}
    <header>ToDo App</header>
    <div class="inputField-auth">
        <form method="POST" id="signup-form">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            {{ form.confirm_password }}
            {{ form.email }}
            <button type="button" onclick="signup()">Sign Up</button>
        </form>
    </div>
    <p style="text-align: center;color: #fff;font-size: 0.7rem;">Already have an account? <a href="/login" style="color:#efb400;">Log in here</a>.</p>
{% endblock content %}
{% block extrascripts %}
    <script>
        function signup() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const confirm_password = document.getElementById('confirm_password').value;
            const email = document.getElementById('email').value;
            const form = document.getElementById('signup-form');
            if (username == '' || password == '' || confirm_password == '' || email == '') {
                alert('Please fill all the fields');
            } else if (password != confirm_password) {
                alert('Passwords do not match');
            } else {
                form.submit();
            }
        }
    </script>
{% endblock %}